body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #faf8ef; /* Light beige background */
    overflow: hidden;
    margin: 0;
    padding: 0;
    touch-action: none;
}

h1 {
    height: 60px;
    width: 100%;
    /* background-color: #776e65; Darker brown header */
    color: #776e65;
    margin: 0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

h2 {
    margin-top: 3rem;
    font-size: 27px;
    font-family: monospace;
    margin-bottom: -1rem;
    color: #776e65;
}

#board {
    height: 400px;
    width: 400px;
    background-color: #cdc1b4 ; /* Light brown background */
    border: 6px solid #bbada0;
    margin: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-top: 2rem;
}

.tile {
    height: 90px;
    width: 90px;
    border: 5px solid #bbada0; /* Light beige border */
    font-size: 40px;
    font-family: "Clear Sans", Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 2px;
}

.t2 {
    background-color: #eee4da;
    color: #776e65;
}

.t4 {
    background-color: #ede0c8;
    color: #776e65;
}

.t8 {
    background-color: #f2b179;
    color: white;
}

.t16 {
    background-color: #f59563;
    color: white;
}

.t32 {
    background-color: #f67c5f;
    color: white;
}

.t64 {
    background-color: #f65e3b;
    color: white;
}

.t128 {
    background-color: #edcf72;
    color: white;
}

.t256 {
    background-color: #edcc61;
    color: white;
}

.t512 {
    background-color: #edc850;
    color: white;
}

.t1024 {
    background-color: #edc53f;
    color: white;
}

.t2048 {
    background-color: #edc22e;
    color: white;
}

/* #game-over-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
} */

body.blur-background #blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}

.swal2-backdrop-show {
    backdrop-filter: blur(5px);
}

.btns {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

#reset, #undo {
    height: 2.7rem;
    width: 5rem;
    background-color: #8f7a66; /* Darker brown for buttons */
    color: white; /* Light beige text */
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid #796857;
    transition: transform 0.3s;
    font-family: "Clear Sans", Arial, sans-serif;
}

#reset:hover, #undo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 480px) {
    #board {
        height: 300px;
        width: 300px;
    }
    .tile {
        height: 65px;
        width: 65px;
        font-size: 35px;
    }
    #reset, #undo {
        height: 2.7rem;
        width: 4.7rem;
        line-height: 2.7rem;
        font-size: 1.2rem;
        font-weight: 550;
        padding: 1px;
    }
    #reset:hover, #undo:hover {
        transform: scale(1.1);
    }
    h2{
        font-size: 25px;
        color: #58524c;
    }
    h1{
        font-size: 40px;
        color: #58524c;
    }
}

@media (max-width: 350px) {
    #board {
        height: 280px;
        width: 280px;
    }
    .tile {
        height: 60px;
        width: 60px;
        font-size: 24px;
    }
    #reset, #undo {
        height: 2rem;
        width: 4rem;
        line-height: 1.9rem;
        font-size: 0.7rem;
    }
    #reset:hover, #undo:hover {
        transform: scale(1.1);
    }
}
