body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #e2fffd;
    overflow: hidden;
    margin : 0;
    padding : 0;
    touch-action: none;
}

h1{
    height: 60px;
    width: 100%;
    background-color: rgb(0, 4, 110);
    color: white;
    margin: 0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

h2{
    margin-top: 3rem;
    font-size: 27px;
    font-family: monospace;
    margin-bottom: -1rem;
}


#board{
    height: 400px;
    width: 400px;
    background-color: #AAA;
    border: 6px solid #CCC;
    margin: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-top: 2rem;
}

.tile{
    height: 90px;
    width: 90px;
    border: 5px solid #CCC;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.t2{
    background-color: #e3f2fd;
    color: #727371;
}

.t4{
    background-color: #bbdefb;
    color: #727371;
}

.t8{
    background-color: #90caf9;
    color: white;
}

.t16{
    background-color: #64b5f6;
    color: white;
}

.t32{
    background-color: #42a5f5;
    color: white;
}

.t64{
    background-color: #2196f3;
    color: white;
}


.t128{
    background-color: #1e88e5;
    color: white;
}

.t256{
    background-color: #1976d2;
    color: white;
}

.t512{
    background-color: #1565c0;
    color: white;
}

.t1024{
    background-color: #0d47a1;
    color: white;
}

.t2048{
    background-color: #002d71;
    color: white;
}

/* #game-over-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
} */

body.blur-background #blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}

.swal2-backdrop-show {
    backdrop-filter: blur(5px);
}

.btns{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

#reset, #undo{
    height: 2.7rem;
    width: 5rem;
    background-color: rgb(0, 4, 110);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.1rem;
    border-radius: 0.7rem;
    border: 1px solid rgb(0, 4, 110);
    transition: transform 0.3s;
}

#reset:hover, #undo:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/* 
#undo:hover{
    cursor: pointer;
    transform: scale(1.1);
} */


@media (max-width: 480px) {
    #board{
        height: 300px;
        width: 300px;
        
    }
    .tile {
        height: 65px;
        width: 65px;
        font-size: 24px;
    }
    #reset, #undo{
    height: 2rem;
    width: 4rem;
    line-height: 2rem;
    font-size: 0.8rem;
    }
   
}

@media (max-width: 350px) {
    #board{
        height: 280px;
        width: 280px;
      
    }
    .tile {
        height: 60px;
        width: 60px;
        font-size: 24px;
        
    }
}